<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <div class="head">
   <div style="display: inline-block;"><h2>{{chart.title}}</h2></div>
     <div class="Wrapper">
        <div class="button Button Button--start">
        <button (click)="ShowHideButton()"><i class="material-icons">create</i><span>Edit</span></button>
       </div>
    </div>
  </div> 
  
  <div *ngIf="showMainContent" class="buttonbox">
    <div style="display: inline;">
      <!--Data 1D-->
      <button (click)="updateType('bar');" class="button1D"><img width="30" src="assets/images/bar.png"></button>
      <button (click)="updateType('pie');"class="button1D"><img width="30" src="assets/images/pie.png"></button>
      <button (click)="updateType('polarArea');"class="button1D"><img width="30" src="assets/images/polar.png"></button>
      <button (click)="updateType('doughnut');"class="button1D"><img width="30" src="assets/images/donut.png"></button>
      <!--Data 2D-->
      <button (click)="updateType('radar');"class="button2D">radar</button>
      <button (click)="updateType('line');"class="button2D">line</button>
      <button (click)="updateType('bubble');"class="button2D">horizontalBar</button>
       <!--Data 3D-->
       <button (click)="addFire();"class="button2D">updateTEst</button>
   </div>
  </div>

  <div  class="chartbox" style="width:100%;" >
    <canvas id="myChart" width="700" height="250" #mychart></canvas>
  </div>
  
  <div *ngIf="showMainContent" class="sheetbox" style="overflow:auto;">



      <div class="bs-example" contenteditable="true"  >
         
          <table class="table">
              <thead>
                  <tr >
                      <th *ngFor="let country of countries;let position = index ">

                            <input class="input" type="text" [(ngModel)] = "country"
                            (change)="updateChartFirebase('country', position, country )"
                          
                           value="{{country}}">
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                   
                      <td *ngFor="let pop of population; let position = index" >
                            <input class="input" type="text"   [(ngModel)] = "pop"
                            (change)="updateChartFirebase('population', position, pop  )"
                          
                           value="{{pop}}">
                           
                        
                        </td>
                      
                  </tr>
                
              </tbody>
          </table>
      </div>
  
  </div>
 