.login-form {
    width: 340px;
    margin: 50px auto;
    max-width:90%;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.btn-primary{
    background-color:   #7B7C7E   ;
    
    border-width:0px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    float:left;
}

.title{
    margin: 0 0 15px;
    text-align:center;
    font-weight: 600;
}

.fontlogin{
    display: flex;
    background: #CF022B;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    height:500px;
    border-radius:0 0 60% 40% / 0 0 50% 20%
 
}
.padding{
    display:inline-block;
    width: 5%;
    height:100%;
    background: #fdfdfd;
    margin:0;
}
.form{

    display:inline-block;

    width: 90%;

    margin-top:150px;

}

 

.orange{

    display: flex;

    background: #EF7D00 ;

    margin-left:auto;

    margin-right:auto;

    border-radius: 0 0 60% 40% / 0 0 30% 10%;

    height:500px;

    width: 60%;

}