<div class="user">
  <div class="name">{{usertype}}</div>

  <div *ngIf="updateprof; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button (click)="updateprofil();" class="profil" ><img width="50"   src="assets/images/managor.png"></button></ng-template>
    <ng-template #elseBlock><button (click)="updateprofil();" class="profil" ><img width="50"   src="assets/images/user.png"></button></ng-template>

</div>

<div *ngIf="updateprof">
  <button (click)="addSheet();" class="add"> + </button>
  </div>
<div class="topheader"></div>
<div class="centerbox">
    <div class="test">
 <div class="dashboard" *ngFor="let truc of list;" [ngStyle]="{'width.%':divWitdth}">
  

  
      <button (click)="removeSheet(truc.idFirefbase);" class="remove" *ngIf="updateprof" >X</button>
   


     <app-chart [chart]="truc" class="appchart"></app-chart>
  
   </div>
  
 </div>
 </div>

<div class="col-md-4 mx-auto">
<!--

<div >
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>

  <div >
      <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>

  -->
  
<br><br>
<!--
<h1>Charts</h1>
<br><br>

          <button   (click)="transaction.expense =true" >
          Depenser
          </button>
      &nbsp;&nbsp;
          <button   (click)="transaction.expense =false" >
              Economiser
              </button>

          <BR><BR>
      
            <label >Somme</label>&nbsp;&nbsp;
            <input type="number" [(ngModel)]="transaction.value" />
   <BR><BR>
    
      
            <label>Mois</label>&nbsp;&nbsp;
            <select [(ngModel)]="transaction.month">
              <option [value]="month.value" *ngFor="let month of months">{{ month.name }}</option>
            </select>
          
    <br><br>
 
  
     
          <button   (click)="addTransaction()">Ajouter une transaction</button>
        <Br><Br>-->
    
    

   
   
    
  


</div>